body
{
	background-color: #2B5AFF;
}
#lingo_table
{
	border: solid black 1px;
	border-collapse: collapse;
	text-align: center;
	font-size: 120px;
	background-color: #78C2FF;
	margin: auto;
	width: 50%;
	height: 800px;
	color: white;
	font-family: calibri;
}
#lingo_table tr td
{
	width: 20%;
	height: 20%;
	border: solid grey 5px;
}
#antwoord
{
	margin-left: 25%;
}